altair
numpy
pandas
pydeck
streamlit
langchain
pinecone-client
boto3
toml
openai
langsmith
streamlit_feedback
langchain_pinecone
langchainhub
langchain-aws
langchain-community
streamlit-authenticator
langchain-cohere
requests
